{% extends 'base.html.twig' %}

{% block title %}
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<body class="bg-beige">

		<h1 class="text-center pt-5">{{ recipe.title }}</h1>
		<div class="d-flex justify-content-center p-5"><img class="w-50" src="../uploads/images/{{recipe.image}}"></div>
		<h4 class="text-center">Ingredientes</h4>
		<div class="d-flex justify-content-center">
			<p class="white-space text-justify">{{ recipe.ingredients }}</p>
			<p></p>
		</div>
		<h4 class="text-center">Pasos</h4>
		<div class="d-flex justify-content-center">
			<p class="white-space text-justify">{{ recipe.description }}</p>
		</div>
	</body>
{% endblock %}
